body {
  font-family:"Avenir Next";
}
.header{
    background-color: blue;
    height: 90px;
    color: #fff;
}
li{
  list-style: none;

}
.header-logo{
  font-size: 36px;
  float:left;
  padding: 20px 40px;
}
.header-list li{
  float: left;
  padding: 33px 20px;
}
.header-list{
  float: right;
}
